.footer {
  background: linear-gradient(to bottom, #1c2331, #000); 
  color: white;
  padding: 40px 20px; /* Adjust padding for content */
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px; /* Set max-width for the container */
  margin: 0 auto; /* Center the container */
}

.footer-section {
  width: 100%;
  max-width: 300px; /* Limit section width */
  margin-bottom: 20px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* Contact Icons */
.footer-section p i {
  margin-right: 5px;
}

.footer-section::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icon-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center icons horizontally */
}

.icon-container ul li {
  margin-right: 10px;
}

.icon-container ul li:last-child {
  margin-right: 0;
}

.icon-container ul li a {
  color: white;
  text-decoration: none;
}

/* Adjust outer-container for spacing */
.outer-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inner-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px; /* Set max-width for the container */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Adjust inner padding */
}